@font-face {
	font-family: "SegoeScript";
	src: url("../fonts/SegoeScript.eot");
	src: url('../fonts/SegoeScript.eot?#iefix') format('embedded-opentype'), 
		 url("../fonts/SegoeScript.woff") format("woff"),
		 url("../fonts/SegoeScript.ttf") format("truetype"),
		 url("../fonts/SegoeScript.svg#SegoeScriptLight") format("svg");
	font-weight: normal;
	font-style: normal;
}

.main-unit { margin: 8em 0 0.5em; }
.main-unit h1 { font-family: "SegoeScript"; color: black; }
.btn-space {margin-top:2em;}
footer { padding:0 1em; }
body{ background: url("../img/dark_mosaic.png") repeat scroll 0 0 transparent; }